 fbody {

    
}

#newsletterform {

	height:auto;
    margin: 0 auto;
    max-width: 780px;
    min-width: 320px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

#newsletterform input {
    font-size: 16px;
    font-weight:500;
    display: block;
    width:55%;
    background:#fff;
    color:#888;
    padding:15px;
    text-align: center;
    text-transform: uppercase;
    margin: 1em auto;
    border:2px solid #fff;
    outline:0;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newsletterform input:focus {
    border:2px solid #ddd;
}

#newsletterform input[type="submit"] {
    background:#ef7d43;
    color:#fff;
    width:30%;
    padding:13px;
    cursor: pointer;
    margin-bottom:0;
    border:none;
}

#newsletterform input[type="submit"]:hover {
    background:#d37433;
    color:#fff;
}

#newsletterform #response {
    color: #fff;
    font-size: 1.4em;
    height: 25px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    width: 320px;
}


#newsletterform .loading {
    background: url("../images/landingloading.gif") no-repeat center 20px;
}
.newsletter {
	 font-weight:bolder;
	}

@media only screen and (max-width:769px) {


    #newsletterform input {
        width: 70%;
        margin-bottom: 7px;
    }

    #newsletterform input[type="submit"] {
        width: 70%;
        padding: 16px;
    }

}

@media only screen and (max-width:600px) {

}